body{
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Rajdhani', sans-serif;
}

.banner-container{
    background-color: #ffffff;
    
}

.banner-column{
    margin-top: 120px!important;
    display: inline-block;
    text-align:center;
    margin: auto;
}
/* this is navbar */
.navbar{
    margin-top: 15px;
}
.btn{
    border-radius: 40px 40px;
}
#den{
    margin-left: 50px;
}
.nav-link{ 
  font-size: 20px;
}
.nav-side{
   height: 50px!important;
   padding: 20px;
}
.ment{
    font-size: 18px;
}

/* header text  */

.banner-column h1{
    color: #141C3A;
    font-size: 50px;
}
.banner-column h4{
    color: #141C3A;
    margin-top: 20px;
}
.avatar{
    margin-top: 20px;
}
.myfoot{
    border: 5px solid black;
    
}

.container-bottom{
    margin-top: 40px;
    display: inline-block;
    margin-left: 25%;

}

.container-bottom img{

    margin-top: 50px;
}

/* about  */

.about-container{
    padding: 100px;
    height: 500px;
    background-color: #4A5B76;
    background-color: #282f49;
    grid-area: overlap;
}
.h-about{
    text-align: center;
    font-size: 45px;
    color: white;
}
.p-about{
    color: white;
    font-size: 17px;
    text-align: center;
    
}

.over-div{
    background-color: white;
    margin
}
/* overlap  */
.overlap{
    
    display:grid;
    grid-template-rows: 1fr;
    grid-tamplete-areas:"overlap";
}

.about-more-container{
    grid-area: overlap;
    align-self: center;
    background-color: white;
    margin-top: 350px;
    margin-right: 80px;
    margin-left: 80px;
    border-radius: 10px 10px;
}






.container-card{
    display: flex;
    justify-content: center;
    border-radius: 20px 20px;
    text-align: center;
}

.card-1{
    margin-top: 10px;
    margin-left: 150px;
}
.card-2{
    margin-top: 10px;
    margin-right:150px;
}


/* this is education section  */
#education{
    margin-top: 85px;
    
    padding: 2em;
    box-shadow:0 0 20px #282f49;
}
#ssc{
    height: 200px;
    width: 420px;
}

#hsc{
    position: absolute;
    
    height: 200px;
    width: 420px;
    margin-left:400px;
    
}


/* gallary section  */

/* .img-sec{
    padding-top: 10px;
}
.gl{
    font-size: 50px;
    text-align: center;
} */



.img-thumbnail{
    margin: 10px;
    padding:5px;
    height:200px;
    width: 300px;
}


.row-2{
    margin-top: 20px;
}

.pgl{
    margin-top: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}



.row-2{
    display: flex;

    justify-content: center !important;
    justify-self: center !important;
    
}
.row-1{
    display: flex;

    justify-content: center !important;
    justify-self: center !important;
    
}

.footer{
    background-color: #282f49 ;
}

.quote{
    font-size: 20px;
}
.copyright{
    font-size: 15px;
    text-align: center;
    color: rgb(167, 167, 167);
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: whitesmoke;
    font-size: 40px;
    text-align: center;
    color:black ;
}

.circle:hover{
    background-color: #282f49;
    color:whitesmoke ;
    box-shadow: 0 0 5px;
}


.ic{
    display: inline-block;
    padding: 20px;
}
.fab{
    display:inline-block;
    color:#282f49;
}

.fab:hover{
    display:inline-block;
    color:white;
}